<% model_class = Envsetting %>
<% title model_class.to_s %>
<%= link_to "New Environment", new_config_path, :class => "my_button"%>
<table>
  <thead>
    <tr>
      <th width="200">Environment</th>
      <th>Params</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
	<% for e in @configs %>
    	<tr>
      	<td><%= e.environment%></td>
			<td>
				<% for p in e.settings%>
					<%=p.name%> : <%= p.value %>
				<% end %>
			</td>
			<td><%= link_to "Edit Env", config_settings_path(e), :class => "my_button"%></td>
		</tr>
	<% end %>
	</tbody>
</table>