<% model_class = Setting %>
<% title model_class.to_s %>
<%= link_to "New Setting", new_envsetting_setting_path(@config), :class => "my_button"%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
	<% for p in @config.settings %>
    	<tr>
      	<td><%= p.name %></td>
      	<td><%= p.value %></td>
			<td><%= link_to "Edit", edit_envsetting_setting_path(@config, p), :class => "my_button"%></td>
			<td><%= link_to "Delete", envsetting_setting_path(@config, p), :method => :delete, :class => "my_button"%></td>			
		</tr>
	<% end %>
	</tbody>
</table>