<div id="<%=@card.id %>", class="cd-list-item" data-date="<%= head_date_data %>" >
	<li>
		<%= render :partial => "cards/card_picture"%>
		<div class="item-text">
			<%= link_to card_path(@card) do%>				
				<div class="cd-ref">
					<%= @card.ref_id %>
				</div>
			<% end %>
			<p><%= @card.description %></p>
			<p>Sold: <%= @card.date_sold.strftime('%a %d %B %Y') if !@card.date_sold.nil? %></p>
			<p>Cost: <%= @card.card_price.format unless @card.no_charge %></p>
			<% if @card.no_charge %>
				<p>No Charge</p>
			<% end %>
			<div class="item-custs">
				<% @card.customers.each do |cust| %>
					<span class="cust-token"><%= cust.name %></span>
				<% end %>
			</div>
			
		</div>
		<div class="item-tags">
				<% @card.tags.each do |tag| %>
					<span class="token"><%= tag.token %></span>
				<% end %>
		</div>
		<div class="item-links">
			<%= link_to 'Edit', edit_card_path(@card), :class => "small-button" %>
			<% if @settings.card_delete_confirm %>
				<%= link_to 'Delete', card_path(@card), :method => :delete, :confirm => 'Delete Card, are you sure!', :remote => true, :class => "small-button" %>			
			<% else %>
				<%= link_to 'Delete', card_path(@card), :method => :delete, :remote => true, :class => "small-button" %>
			<% end %>
		</div>
	</li>
	</br>
</div>
