<% model_class = Envsetting %>
<% title model_class.to_s %>
<%= link_to "New Environment", new_envsetting_path, :class => "small-button"%>
<table>
  <thead>
    <tr>
      <th width="200">Environment</th>
      <th>Params</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
	<% for e in @configs %>
    	<tr>
      	<td><%= e.environment%></td>
			<td>
				<% for p in e.settings%>
					<p><%=p.name%> : <%= p.value %></p>
				<% end %>
			</td>
			<td><%= link_to "Edit Env", envsetting_settings_path(e), :class => "small-button"%></td>
		</tr>
	<% end %>
	</tbody>
</table>