<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? content_for(:title) : 'MyCards' %></title>
    <%= yield(:head) %>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
	<!--
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36627670-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>	
	-->
</head>
<body>
	<div id="header">
		<div id="logo">MyCards</div>
		<div id="page-title"><%= content_for(:title) %></div>  
	</div>


	<div id="main">
		<div class=" column navbar">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Customers", customers_path %></li>
				<li><%= link_to "Tags", tags_path %></li>
				<li><%= link_to "Charts", charts_path %></li>
				<li><%= link_to "Settings", envsettings_path %></li>
				<% if Envsetting.settings.include_hide_form_button %>	
					<% if params[:controller] == "home"%>
						<li><div id='form-hide'><%= link_to "Hide Form", "#" %></div></li>
					<% end %>
				<% end %>
			</ul>
		</div><!-- /navbar -->
		<div class="column content">
			<%= render :partial => 'shared/flash', :locals => {:flashs => flash} %>
			
			<%= yield %>
		
		</div>
		<div class="sidebar">
			<div id="cd-search">
				<%= render :partial => 'shared/header_search'%>
			</div>
			</br>
			<%= render :partial => "cards/counts" %>
			<div id="tag-cloud">
			</div>
		</div>
		<div class="footer"> 
			<p> (C) Copyright Dinsdale Arts</p>
		</div>
	</div>
	<%= google_analytics_js %>
</body>
</html>